<a href="https://colab.research.google.com/github/ArturoTphx/analisis-datos/blob/main/python_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
  'Country': ['Costa Rica', 'India', 'Brazil'],
  'Capital': ['San José', 'New Delhi', 'Brasilia'],
  'Population': [45000000, 1303171035, 207847528]   
}
df = pd.DataFrame(data, columns = data.keys())

print(df)

      Country    Capital  Population
0  Costa Rica   San José    45000000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
print('Promedio de los elementos del vector')
suma = 0
media = 0
temp = []
print('Ingrese la cantidad de temperaturas')
n = int(input())

for i in range(n):
  temperatura = float(input("Ingrese la temperatura:\n"))
  temp.append(temperatura)
  suma = suma + temp[i]
media = suma/n
print(media)

Promedio de los elementos del vector
Ingrese la cantidad de temperaturas
3
Ingrese la temperatura:
21
Ingrese la temperatura:
34
Ingrese la temperatura:
42
32.333333333333336

In [ ]:
import pandas as pd

mascotas = pd.DataFrame(
    data = {
      'name': ['Minino','Milo', 'Snoopy', 'Blanco', 'Little Pony'],
      'type': ['gato', 'perro', 'perro', 'perro','caballo']
    },
    index = [71, 42, 11, 98, 42]
)

visitas = pd.DataFrame(
    data = {
      'pet_id': [42, 31, 71, 42, 98, 42],
      'fecha': ['2019-03-11', '2022-02-12', '2018-04-11', '2015-03-04','2015-05-07', '2022-05-08'],
      'costo': [10000, 15000, 14000, 16000, 60000, 13000]   
    }
)

mascotas.index.rename('pet_id', inplace=True)
visitas.index.rename('visit_id', inplace=True)

print(mascotas.query('pet_id==71'))

print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)

print(visitas.sort_values(by='costo', ascending=False))

tienda = pd.merge(mascotas, visitas, how='cross')

print(tienda)

          name  type
pet_id
71      Minino  gato
128000
10000
60000
          pet_id       fecha  costo
visit_id
0             42  2019-03-11  10000
1             31  2022-02-12  15000
2             71  2018-04-11  14000
3             42  2015-03-04  16000
4             98  2015-05-07  60000
5             42  2022-05-08  13000
          pet_id       fecha  costo
visit_id
4             98  2015-05-07  60000
3             42  2015-03-04  16000
1             31  2022-02-12  15000
2             71  2018-04-11  14000
5             42  2022-05-08  13000
0             42  2019-03-11  10000
           name     type  pet_id       fecha  costo
0        Minino     gato      42  2019-03-11  10000
1        Minino     gato      31  2022-02-12  15000
2        Minino     gato      71  2018-04-11  14000
3        Minino     gato      42  2015-03-04  16000
4        Minino     gato      98  2015-05-07  60000
5        Minino     gato      42  2022-05-08  13000
6          Milo    perro      42  2019-03-11  10000
7          Milo    perro      31  2022-02-12  15000
8          Milo    perro      71  2018-04-11  14000
9          Milo    perro      42  2015-03-04  16000
10         Milo    perro      98  2015-05-07  60000
11         Milo    perro      42  2022-05-08  13000
12       Snoopy    perro      42  2019-03-11  10000
13       Snoopy    perro      31  2022-02-12  15000
14       Snoopy    perro      71  2018-04-11  14000
15       Snoopy    perro      42  2015-03-04  16000
16       Snoopy    perro      98  2015-05-07  60000
17       Snoopy    perro      42  2022-05-08  13000
18       Blanco    perro      42  2019-03-11  10000
19       Blanco    perro      31  2022-02-12  15000
20       Blanco    perro      71  2018-04-11  14000
21       Blanco    perro      42  2015-03-04  16000
22       Blanco    perro      98  2015-05-07  60000
23       Blanco    perro      42  2022-05-08  13000
24  Little Pony  caballo      42  2019-03-11  10000
25  Little Pony  caballo      31  2022-02-12  15000
26  Little Pony  caballo      71  2018-04-11  14000
27  Little Pony  caballo      42  2015-03-04  16000
28  Little Pony  caballo      98  2015-05-07  60000
29  Little Pony  caballo      42  2022-05-08  13000