<a href="https://colab.research.google.com/github/ArturoTphx/analisis-datos/blob/main/tarea_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Ejercicio Bisiesto")
anio = int(input("Ingresar el año: "))
if(anio % 400 == 0) or (anio % 4 == 0) and (anio % 100 != 0):
  print("El año es Bisiesto")
else:
  print("El año no es Bisiesto")

Ejercicio Bisiesto
Ingresar el año: 2021
El año no es Bisiesto

In [ ]:
switcher = { 1: "Enero", 2: "Febrero", 3: "Marzo", 4: "Abril", 5: "Mayo", 6: "Junio", 7: "Julio", 8: "Agosto", 9: "Setiembre", 10: "Octubre", 11: "Noviembre", 12: "Diciembre"}
argument = int(input("Ingrese un número: "))
nombreMes = switcher.get(argument, "Mes inválido")
print(nombreMes)

Ingrese un número: 10
Octubre

In [ ]:
C=-1
I=0
M=0
while (C<0) or (I<=0) or (I>=100) or (M<=0):
  print("Introduce el capital, el interés, y el tiempo apropiados")
  C=int(input("Capital: "))
  I=int(input("Interés: "))
  M=int(input("Tiempo en anios: "))

for i in range(M):
  C = C * (1 + I/100)
  print("Monto ", C, " Colones")

Introduce el capital, el interés, y el tiempo apropiados
Capital: 1000
Interés: 10
Tiempo en anios: 20
Monto  1100.0  Colones
Monto  1210.0  Colones
Monto  1331.0  Colones
Monto  1464.1000000000001  Colones
Monto  1610.5100000000002  Colones
Monto  1771.5610000000004  Colones
Monto  1948.7171000000005  Colones
Monto  2143.5888100000006  Colones
Monto  2357.9476910000008  Colones
Monto  2593.742460100001  Colones
Monto  2853.1167061100014  Colones
Monto  3138.4283767210018  Colones
Monto  3452.271214393102  Colones
Monto  3797.4983358324125  Colones
Monto  4177.248169415654  Colones
Monto  4594.97298635722  Colones
Monto  5054.470284992943  Colones
Monto  5559.917313492238  Colones
Monto  6115.909044841462  Colones
Monto  6727.499949325608  Colones

In [ ]:
numero = int(input("Digite un número: "))

sum = 0
for i in range(1, numero + 1):
  if(numero%i == 0):
    sum=sum+i
print(sum)

Digite un número: 10
18